<blockquote class="h-100  ba b--grey-1 bg-off-white black br1 pa3 box-shadow" data-aos="fade-in">
  <div class="h-100 flex flex-column justify-between">
    <p class="f5 mb3" data-aos-duration="1000">“{{ .Params.quote }}”</p>
    <cite class="tr db grey-4">
      <span class="db">{{ .Params.title }}</span>

        {{ if .Params.position }}
          <span class="f6 lh-title db">{{ .Params.position }}</span>
        {{ end }}

        {{ if .Params.company }}
          <span class="f6 lh-title db">{{ .Params.company }}</span>
        {{ end }}

      </span>
    </cite>  
  </div>
</blockquote>
