<div class="w-33-m pa2-m pb3">
  <div class="h-100 bg-off-white ba b--grey-1 mw5-l pa3 br1 box-shadow" data-aos="fade-in">
    <blockquote class="h-100 flex flex-column justify-between black">
      <p class="f5 mb3" data-aos-duration="1000">“{{ .quote }}”</p>
      <cite class="tr db grey-4">
        <span class="db">{{ .author }}</span>

          {{ if .position }}
            <span class="f6 db">{{.position}}</span>
          {{ end }}

          {{ if .company }}
            <span class="f6 db">{{ .company }}</span>
          {{ end }}

        </span>
      </cite>
    </blockquote>
  </div>
</div>
