<div class="flip-card-wrapper testimonial pa2-ns pv2">
  <blockquote class="flip-card" tabindex=0>

    <div class="flip-card-inner">

      <div class="flip-card-front bg-debut br1 ba b--off-white pa3">

        <div class="bg-white h-100 pv1 ph2 ba b--off-white">

          <div class="h-100 flex flex-column justify-between" data-aos="fade-in" data-aos-duration=750>

            <p class="f5 mb3">“{{ .quote }}”</p>
    
            <cite class="tr db">
              <span class="db">{{ .name }}</span>
        
                {{ if .position }}
                  <span class="f6 lh-title db">{{ .position }}</span>
                {{ end }}
        
                {{ if .company }}
                  <span class="f6 lh-title db">{{ .company }}</span>
                {{ end }}
        
              </span>
            </cite> 
          </div>

        </div>
      </div>
  
      <div class="flip-card-back h-100 pa3 bg-white ba b--off-white br1">
        <div class="inner h-100">

          <h3 class="f3 lh-title mb3">Contact {{ with .name }}{{ index (split . " ") 0 }}{{ end }}</h3>
          <p class="db lh-title mb2">We encourage you to contact our references for their experiences with our team.</p>
      
            <!-- Phone -->
            {{ if .phone }}
    
              <div class="mt3">
                <h4 class="f5 lh-title mb1">Phone</h4>
                  
                <a class="link pre" href="tel:+1{{ .phone | urlize }}">{{ .phone }}</a>
              </div>

            {{ end }}

            <!-- Email -->
            {{ if .email }}
    
              <div class="mt3">
                <h4 class="f5 lh-title mb1">Email</h4>
                  
                <a class="link pre" href="mailto:{{ .email }}">{{ .email }}</a>
              </div>
    
            {{ end }}
    
        </div>

      </div>
    </div>
  </blockquote>
</div>
