<!-- Contact -->
<div class="ma1 pa3 br1">
  <h4 class="f3 lh-title tc mb3">Send us a message!</h4>

  <form action="">
    <div class="flex flex-column">
      <!-- Name -->
      <fieldset>
        <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
        <label for="name">Name</label>
      </fieldset>
      <!-- Email -->
      <fieldset>
        <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
        <label for="email">Email</label>
      </fieldset>
      <!-- Company -->
      <fieldset>
        <input type="company" id="company" name="company" placeholder="Company" class="w-100 mb2 border-box">
        <label for="company">Company</label>
      </fieldset>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="w-100 tc">
      <button type="submit" class="btn w-100">Submit</button>
    </div>
  </form>
</div>
