<!-- Contact -->
<div id="contact-container" class="ma1-ns pa3-ns br1 h-100">
  <h4 class="f3 lh-title tc mb3" data-aos="zoom-in">Send us a message!</h4>

  <form id="contact-form" name="contact" action="success" netlify>
    <div class="flex flex-column">
      <!-- Name -->
      <fieldset>
        <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
        <label for="name">Name</label>
      </fieldset>
      <!-- Email -->
      <fieldset>
        <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
        <label for="email">Email</label>
      </fieldset>
      <!-- Company -->
      <fieldset>
        <input type="company" id="company" name="company" placeholder="Company" class="w-100 mb2">
        <label for="company">Company</label>
      </fieldset>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100 no-resize"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="w-100 tc">
      <button type="submit" class="btn w-100">Send<i class="fas fa-paper-plane"></i></button>
    </div>
  </form>
</div>
