<footer class="bg-black white">

	<div class="mw7 center pt3 pv4 ph3">

		<div class="flex flex-column measure-narrow center mb4">

			<div class="f2 pre primary b db w4 center tc mb4 br0">NCM Inc.</div>

			{{ partial "contact-form" . }}

			<div>
				<h3 class="f4 b lh-title primary">Contact</h3>
				<ul class="flex flex-column items-start mhn2">
					<li class="mb2">1740 Shaff Rd Box 315<br>Stayton, OR 97383</li>
					{{ partial "contact-icon" (dict "link" "tel:+1971-336-2341" "text" "+1 (971) 336-2341") }}
				</ul>
			</div>

		</div>

	</div>

	<ul class="bg-primary white h-100 flex flex-row justify-start content">
		<li class="ma1"><a href="/" class="link">Home</a></li>
		<li class="ma1"><a href="/about" class="link">About</a></li>
		<li class="ma1"><a href="/projects" class="link">Projects</a></li>
		<li class="ma1"><a href="/post" class="link">Testimonials</a></li>
		<li class="ma1"><a href="/join" class="link">Join</a></li>
		<li class="ma1"><a href="/contact" class="link">Contact</a></li>
	</ul>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
