<div class="form section form-section bg-grey-1 cd">
  <div class="measure-narrow center" data-aos="fade-up">

    <!-- Contact -->
    <div class="neg-margin overflow-hidden br1 h-100 tile-shadow">

      <h2 class="f3 bg-black off-white lh-title tc pa3">Join our team!</h2>
    
      <form class="bg-white" novalidate id="form-apply" name="application" netlify-honeypot="bot-field" netlify>

        <div class="pa3 pt4">

          <input type="hidden" name="form-name" value="application" />
  
          <!-- Name -->
          <fieldset>
            <label for="name">Name</label>
            <input
              required
              aria-required="true"
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              class="w-100 mb2"
            >
          </fieldset>
  
          <!-- Email -->
          <fieldset>
            <label for="email">Email</label>
            <input
              required
              aria-required="true"
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              class="w-100 mb2"
            >
          </fieldset>
  
          <!-- Message -->
          <fieldset>
            <label for="message">Your message</label>
            <textarea
              required
              aria-required="true"
              id="message"
              name="message"
              placeholder="Message"
              rows="8"
              cols="80"
              class="w-100 no-resize"
            ></textarea>
          </fieldset>
  
          <!-- Resume -->
          <fieldset id="resume">
            <div class="w-100 tl mt3">
              <button
                id="resume-btn"
                type="button"
                class="btn btn-alt w-100"
              >
              Upload Resume
            </button>
            </div>
            <label for="resume" class="dn">Resume</label>
            <div id="specs" class="grey-3 f6 mt2">
              <span class="db">1 MB max</span>
              <span class="db">pdf, doc, docx</span>
            </div>
            <div id="filename" class="grey-3 mt2"></div>
            <input
              type="file"
              accept=".pdf,.doc,.docx"
              name="resume"
              placeholder="Resume"
              class="dn w-100 mb2"
            >
          </fieldset>

        </div>
        
        <!-- Button -->
        <div class="w-100 bg-grey-1 tc pa3">
          <button type="submit" class="btn w-100 disabled">Send<i class="fas fa-paper-plane"></i></button>
        </div>

      </form>
    </div>
  </div>
</div>
