<div class="section form-section bg-debut no-select footer-shadow-light">
  <div class="measure-narrow center">

    <!-- Contact -->
    <div class="neg-margin bg-white ba b--grey-1 pa3 br1 h-100 tile-shadow" data-aos="fade-up">

      <h2 class="f3 lh-title tc mb4">Join our team!</h2>
    
      <form novalidate id="form-apply" name="application" netlify>

        <!-- Name -->
        <fieldset>
          <label for="name">Name</label>
          <input required type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
        </fieldset>

        <!-- Email -->
        <fieldset>
          <label for="email">Email</label>
          <input required type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
        </fieldset>

        <!-- Message -->
        <fieldset>
          <label for="message">Your message</label>
          <textarea required id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100 no-resize"></textarea>
        </fieldset>

        <!-- Resume -->
        <fieldset>
          <label for="resume">Resume (pdf, doc, docx)</label>
          <input type="file" accept=".pdf,.doc,.docx" id="resume" name="resume" placeholder="Resume" class="w-100 mb2">
        </fieldset>
        
        <!-- Button -->
        <div class="w-100 tc mt3">
          <button type="submit" class="btn w-100">Send<i class="fas fa-paper-plane"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
