<div class="form section form-section bg-debut footer-shadow-light bt b--grey-1 bw5 cd">
  <div class="measure-narrow center">

    <!-- Contact -->
    <div class="neg-margin bg-white ba b--grey-1 pa3 br1 h-100 tile-shadow" data-aos="fade-up">

      <h2 class="f3 lh-title tc mb4">Join our team!</h2>
    
      <form novalidate id="form-apply" name="application" netlify-honeypot="bot-field" netlify>

        <input type="hidden" name="form-name" value="application" />

        <!-- Name -->
        <fieldset>
          <label for="name">Name</label>
          <input
            required
            aria-required="true"
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            class="w-100 mb2"
          >
        </fieldset>

        <!-- Email -->
        <fieldset>
          <label for="email">Email</label>
          <input
            required
            aria-required="true"
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            class="w-100 mb2"
          >
        </fieldset>

        <!-- Message -->
        <fieldset>
          <label for="message">Your message</label>
          <textarea
            required
            aria-required="true"
            id="message"
            name="message"
            placeholder="Message"
            rows="8"
            cols="80"
            class="w-100 no-resize"
          ></textarea>
        </fieldset>

        <!-- Resume -->
        <fieldset>
          <label for="resume">
            <span>Resume (optional)</span>
            <span class="db mt1 f6">1 MB max</span>
            <span class="db mt1 f6">pdf, doc, docx</span>
          </label>
          <input
            type="file"
            accept=".pdf,.doc,.docx"
            id="resume"
            name="resume"
            placeholder="Resume"
            class="w-100 mb2"
          >
        </fieldset>
        
        <!-- Button -->
        <div class="w-100 tc mt3">
          <button type="submit" class="btn w-100 disabled">Send<i class="fas fa-paper-plane"></i></button>
        </div>

      </form>
    </div>
  </div>
</div>
