
<div class="section bg-debut">
  
  <div class="measure-narrow center flex flex-column">
    
    <!-- Contact -->
    <div class="ba b--grey-1 bg-spikes ma1-ns pa3 br1 h-100 tile-shadow">

      <h4 class="f3 lh-title tc mb4" data-aos="zoom-in">Send us a message!</h4>
    
      <form id="form-contact" name="contact" action="/success" netlify>

        <!-- Name -->
        <fieldset>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
        </fieldset>
        
        <!-- Email -->
        <fieldset>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
        </fieldset>

        <!-- Company -->
        <fieldset>
          <label for="company">Company</label>
          <input type="company" id="company" name="company" placeholder="Company" class="w-100 mb2">
        </fieldset>
    
        <!-- Message -->
        <fieldset>
          <label for="message">Your message</label>
          <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100 no-resize"></textarea>
        </fieldset>
        <!-- Button -->
        <div class="w-100 tc mt3">
          <button type="submit" class="btn w-100">Send<i class="fas fa-paper-plane"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>