
{{ $location := .Title }}
{{ $city := .Params.subtitle }}

<div class="gallery flex flex-row flex-wrap justify-center">

  {{ range .Params.gallery }}
    <div class="w-50-m w-33-l w-100 pa2-ns pv2">
      <a href="{{ .image }}" class="db tile-link" data-caption="{{ .text }}" data-aos="fade-in" data-aos-duration=500>
        <div class="tile cover br1 relative bg-center" style="background-image: url('{{ .image }}')">
          <img src="{{ .image }}" alt="{{ .text }} constructed by NCM Inc. at {{ $location }} in {{ $city }}." class="hidden h5-ns h4-m h3-l h4 w-100 br1 object-cover tile-shadow" />
          <div class="hover-cover absolute white o-90 h-100 w-100 top-0 flex justify-center items-center z-999">
            <div class="h-100 w-100 bg-black o-50 absolute"></div>
            <i class="fas fa-search fa-flip-horizontal fa-2x"></i>
          </div>
        </div>
      </a>
    </div>
  {{ end }}

</div>
