<div
  class="pv5 pv6-l ph2 vh-75-ns vh-50 bb b--grey-1 bg-bottom cover no-select"
  style="background-image: url('{{ .image }}');"
  data-aos="fade-left"
>
  <div class="top-1 top-0-ns absolute" data-aos="fade-in" data-aos-delay=1000 data-aos-duration=750>
    <div class="br1 pv3 ph3-ns ph2 ma3-ns db bg-black o-90">
      <div class="mw6 relative bg-fix-primary">

        <h1 class="f1-l f2 lh-title primary mb2 pre">{{ .Title }}</h1>

        <h2 class="f3-l f4 lh-title white pre" data-aos="fade-in" data-aos-delay=2000 data-aos-duration=750>{{ .subtitle }}</h2>

      </div>
    </div>
  </div>
</div>
