<div
  class="vh-75-ns vh-50 bb b--grey-1 bg-center cover no-select"
  style="background-image: url('{{ .image }}'); background-attachment: fixed;"
  data-aos="fade-left" data-aos-duration=500
>
  <div class="h-100" data-aos="fade-in" data-aos-delay=750 data-aos-duration=500>
    <div class="w-100 h-100 absolute bg-debut-dark o-80"></div>
      <div class="relative bg-fix-primary h-100 flex justify-center items-center">
        <h1 class="f2 f1-l lh-title white mw6">
          {{ .title }}
        </h1>
    </div>
  </div>
</div>
