<div id="jumbotron" class="bg-off-white">
  <div class="hero" data-aos="fade-in" data-aos-delay="100">
    <div
      class="backdrop"
      data-aos="fade-in"
      data-aos-delay="100"
      style="background: linear-gradient(295deg, var(--black), var(--grey-3))"
    ></div>

    <div class="content">
      <div class="off-white ph3 pv4" data-aos="fade-in" data-aos-delay="1000">
        <div class="f3 lh-title">
          <span>Hospitality </span>
          <span class="db b">Renovation</span>
        </div>

        <div data-aos="fade-in">
          <p class="f6 f5-l mt3 mb4">
            Servicing the Pacific Northwest and now Southwest for over 20 years.
          </p>

          <div class="btn-container db mw5-l">
            <a href="/contact" class="btn">Contact us!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="image bg-bottom cover no-select"
    style="background-image: url('{{ .image }}');"
    data-aos="fade-in"
    data-aos-delay="100"
  ></div>
</div>
