<div
  id="jumbotron"
  class="pv5 pv6-l vh-75-ns vh-50 ph3 {{.position}} cover no-select animated fadeIn"
  style="background-image: url('{{.imageUrl}}')"
  data-aos="fade-in"
>
  <div class="top-1 top-0-ns absolute pa3 ma3-ns bg-black o-90">
    <div class="db">
      <div class="mw7 relative bg-fix-primary">
        <h1 class="f2 f1-l b di lh-title primary mw6">
          {{.title}}
        </h1>
      </div>

      {{ if .subtitle }}
      <div class="mw7 relative bg-fix-primary">
        <p class="f3 b di lh-title mb3 white mw6">
          {{.subtitle}}
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
