<nav id="nav" class="f5-m f5 w-100 bg-black o-100 fixed z-9999 no-select animated divider-grey size-trans">
	<div class="w-100 h-100 flex flex-row justify-between relative">

		<!-- Menu Button (for small screens) -->
		<button class="nav-link dn-m w3 mr2 f4 bg-none white pa1 animated enlarge"><i class="fas fa-bars"></i></button>

		<!-- Logo -->
		<a id="logo" href="/" class="no-underline f3 lh-solid pa2 mr4-m h-100">{{ partial "logo" . }}</a>

		<!-- Primary Nav -->
		<div id="menu-container" class="overflow-y-auto bg-black static-m absolute top-100 h-100-m vh-100 pb0-m pb3 bt-0-m bt b--grey-3 z-999">

			<ul class="overflow-x-hidden overflow-y-visible bg-black w-auto-m w0 h-100-m h-90 flex flex-row-m flex-column white size-trans animated">
				
				<div class="dn-m h-100-m">{{ partial "nav-link" (dict "link" "/" "text" "Home") }}</div>
				{{ partial "nav-link" (dict "link" "/about" "text" "About") }}
				{{ partial "nav-link" (dict "link" "/projects" "text" "Projects") }}
				{{ partial "nav-link" (dict "link" "/testimonials" "text" "Testimonials") }}
				{{ partial "nav-link" (dict "link" "/join" "text" "Join") }}
				{{ partial "nav-link" (dict "link" "/contact" "text" "Contact") }}
	
			</ul>
		</div>

		<!-- Call Button (small screens only) -->
		<a id="call" href="tel:+1971-336-2341" class="nav-link dn-m db w3 h-100 ml2 white pa1 animated enlarge" tabindex=0>
      <div class="h-100 flex justify-center items-center"><i class="fas fa-phone"></i></div>
    </a>
		
	</div>
</nav>
