<nav id="nav" class="f5-m f5 w-100 db divider-grey bg-black o-90 fixed z-9999 no-select animated">
	<div class="w-100 flex justify-between items-center-m items-start center relative">

		<!-- Logo -->
		<a href="/" class="lh-solid pv3 ph3 pa3-m db mr4 h-100 flex-none no-underline">{{ partial "logo" (dict "size" "f3") }}</a>

		<!-- Menu Button (for small screens) -->
		<button class="dn-m white f4 link bg-none b0 pv3 ph3 pa3-m" data-aos="slide-down" data-aos-once="false"><i class="fas fa-bars"></i></button>

		<!-- Primary Nav -->
		<ul class="w-100 bottom-0 flex-m flex-row-m justify-end-m relative-m bg-black bt bt-m-0 bw0-m bw1 b--off-white o-90-m dn absolute flex-column white z-999 animated">

			<li><a href="/about" class="pv3 ph3 pa3-m no-underline db">About</a></li>

			<li><a href="/projects" class="pv3 ph3 pa3-m no-underline db">Projects</a></li>

			<li><a href="/testimonials" class="pv3 ph3 pa3-m no-underline db">Testimonials</a></li>

			<li><a href="/join" class="pv3 ph3 pa3-m no-underline db pre">Join</a></li>

			<li><a href="/contact" class="pv3 ph3 pa3-m no-underline db">Contact</a></li>
		</ul>
		
	</div>

</nav>


<div id="nav-dummy" class="w-100 bg-black relative no-select animated">
	<a href="/" class="pa3 db mr4 h-100 flex-none no-underline hidden">{{ partial "logo" (dict "size" "f3") }}</a>
</div>