{{ $currentURL := .RelPermalink }}
{{ $sectionPages := (.CurrentSection.Pages.ByParam "order").Reverse }}
{{ $pageCount := len $sectionPages }}

<div class="flex flex-row justify-center items-center mw5 center mt4-m mt3">

  <!-- First Page -->
  <div class="w-33 tr self-end pa1">
    {{ range last 1 $sectionPages }}
      {{ if ne $currentURL .RelPermalink }}
        <a href="{{ .RelPermalink }}" class="link link-prev">First</a>
      {{ end }}
    {{ end }}
  </div>

  <!-- Page Count -->
  <div class="w-33 tc self-center pa1">
    {{ range $index, $val := $sectionPages }}
      {{ if eq $currentURL .RelPermalink }}
        {{ sub $pageCount $index }} of {{ $pageCount }}
      {{ end }}
    {{ end }}
  </div>

  <!-- Last Page -->
  <div class="w-33 tl self-start pa1">
    {{ range first 1 $sectionPages }}
      {{ if ne $currentURL .RelPermalink }}
        <a href="{{ .RelPermalink }}" class="link link-next">Last</a>
      {{ end }}
    {{ end }}
  </div>

</div>

<div class="tc">
  <a href="/projects#list" class="link">View All</a>
</div>

