<div>

  <h2 class="f2 lh-title mb3">{{.heading}}</h2>

  <div class="mhn2-l">
    
    <div>
      <p>{{.text}}</p>
    </div>

    <div class="flex-ns mhn2-ns">
      <div class="pa2-ns w-50-ns mb-0-ns mb3" data-aos="fade-in">
        <img src="img/cover-about.jpg" alt="" class="w-100 br1 h5 center object-cover db tile-shadow">
      </div>

      <div class="pa2-ns w-50-ns mb3" data-aos="fade-in">
        <img src="img/about-team.jpg" alt="" class="w-100 br1 h5 center object-cover db tile-shadow">
      </div>
    </div>
  </div>
</div>
