button:focus {
  background-color: var(--grey-4);
  color: var(--white);
  outline: 0!important;
}

.btn {
  display: inline-block;
  border-radius: var(--border-radius-pill);
  padding: 18px 16px;
  font-size: var(--font-size-m);
  font-weight: var(--bold-font-weight);
  line-height: 1.25;
  border: 0;
  /* background-image: linear-gradient(var(--grey-3), rgba(65, 65, 65, 1)); */
  background-image: linear-gradient(var(--primary), var(--secondary));
  color: var(--off-white);
  text-decoration: none;
  text-align: center;
  box-shadow: var(--tile-shadow);
  background-origin: border-box;
  user-select: none;
  transition: var(--transition-shadow) !important;
  
  & i {
    opacity: 0;
    transition: var(--transition-hover) !important;
    width: 0;
  }

  &:hover {
    box-shadow: var(--shadow-hover);

    & i {
      opacity: 1;
      margin-left: var(--spacing-small); 
    }
  }

  &:focus, &:active {
    background-image: linear-gradient(var(--off-white), var(--grey-1));
    color: var(--text-color);
    box-shadow: 0 0 15px var(--secondary);
    border: 0;
    outline: 0 !important;
  }
}

.btn-light {
  background-image: linear-gradient(var(--off-white), var(--grey-1));
  color: var(--primary);
}

.btn-alt {
  background-image: linear-gradient(var(--grey-3), var(--grey-4));
  color: var(--off-white);
}

.btn-contact {
  display: inline-block;
  font-weight: var(--bold-font-weight);
  border-radius: var(--border-radius-pill);
  padding: 12px 16px;
  font-size: var(--font-size-m);
  text-align: center;
  line-height: 1.25;
  background-color: var(--off-white);
  text-decoration: none;
  color: var(--primary);
  transition: var(--transition-all) !important;
  box-shadow: var(--tile-shadow);
  background-origin: border-box;
  user-select: none;

  & .details {
    max-width: 0;
    white-space: pre;
    overflow: hidden;
    transition: max-width 0.5s ease !important;
    transition-property: max-width !important;
    transition-delay: 0.5s !important;
  }

  &:hover {

    & .details {
      max-width: 500px;
      transition-property: max-width !important;
      transition-delay: 0s !important;
    }
  }

  &:focus, &:active {
    background-image: linear-gradient(var(--off-white), var(--grey-1));
    color: var(--text-color);
    box-shadow: 0 0 15px var(--secondary);
    border: 0;
    outline: 0 !important;
  }
}

.btn-back:hover i {
  margin-right: var(--spacing-small);    
}

.btn-forward:hover i {
  margin-left: var(--spacing-small);    
}
