.btn {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 14px 16px 14px;
  font-size: var(--font-size-m);
  line-height: 1.25;
  border: 2px solid var(--white);
  background-image: linear-gradient(var(--grey-3), rgba(65, 65, 65, 1));
  text-decoration: none;
  color: var(--off-white);
  text-align: center;
  transition: var(--hover-transition);
  box-shadow: var(--box-shadow);
  user-select: none;
  
  i {
    opacity: 0;
    transition: var(--hover-transition);
  }

  &:hover {
    opacity: 0.9;

    i {
      opacity: 1;
      margin-left: var(--spacing-small); 
    }
  }
}

.btn-back:hover i {
  margin-right: var(--spacing-small);    
}

.btn-forward:hover i {
  margin-left: var(--spacing-small);    
}
