.btn {
  display: inline-block;
  border-radius: var(--border-radius-pill);
  padding: 14px 16px 14px;
  font-size: var(--font-size-m);
  line-height: 1.25;
  border: 2px solid transparent;
  background-image: linear-gradient(var(--grey-3), rgba(65, 65, 65, 1));
  text-decoration: none;
  color: var(--off-white);
  text-align: center;
  transition: var(--box-shadow-transition);
  box-shadow: var(--tile-shadow);
  background-origin: border-box;
  user-select: none;
  
  i {
    opacity: 0;
    transition: var(--hover-transition);
  }

  &:hover {
    box-shadow: var(--button-press-shadow);

    i {
      opacity: 1;
      margin-left: var(--spacing-small); 
    }
  }

  &:focus, &:active {
    background-image: linear-gradient(var(--grey-3), var(--grey-3));
    box-shadow: var(--button-press-shadow);
    outline: 0!important;
  }
}

.btn-back:hover i {
  margin-right: var(--spacing-small);    
}

.btn-forward:hover i {
  margin-left: var(--spacing-small);    
}
