.btn {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 14px 16px 14px;
  font-size: var(--font-size-m);
  line-height: 1.25;
  border: 1px solid var(--grey-3);
  background-image: linear-gradient(var(--grey-3), rgba(65, 65, 65, 1));
  text-decoration: none;
  color: var(--off-white);
  text-align: center;
  box-shadow: none;
  transition: var(--hover-transition);
  user-select: none;
  
  i {
    opacity: 0;
    transition: var(--hover-transition);
  }

  &:hover {
    opacity: 0.9;

    i {
      margin-left: var(--spacing-small);    
      opacity: 1;
    }
  }
}
