.flip-card-wrapper {
  perspective: 1000px;
  

  &.about .flip-card {
    min-height: 400px;
    max-height: 500px;
    width: 350px;
  }
  
  & .flip-card {
    min-height: 450px;
    height: 100%;
    
    &:hover, &:active, &:focus, &:focus-within {
      outline: 0!important;
    }
  }

  & .link {
    pointer-events: none;
    touch-action: none;
  }

  & .banner {
    transition: padding-bottom 0.3s ease-out;
  }

  &:hover {
    & .flip-card-front {
      box-shadow: var(--flip-shadow);
    }

    & .banner {
      padding-bottom: var(--spacing-medium);
    }
  } 

  &:active, &:focus, &:focus-within {
    outline: 0!important;

    & .link {
      pointer-events: auto;
      touch-action: auto;
      cursor: pointer;
    }

    & .flip-card-inner {
      transform: rotateY(180deg);
    }

    & .flip-card-back, & .flip-card-front {
      backface-visibility: hidden;
    }

    & .flip-card-back .inner {
      overflow: auto;
    }
  }
}

.flip-card-inner {
  height: 100%;
  position: relative;
  transition: transform 0.8s ease;
  transform: rotateX(0deg);
  transform-style: preserve-3d;
  box-shadow: var(--flip-shadow);
  border-radius: var(--border-radius);
  cursor: normal;
}

.flip-card-front {
  position: relative;
  transform: rotateY(0deg);
  transition: var(--transition-shadow);
  cursor: pointer;
}

.flip-card-front, .flip-card-back {
  -moz-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);

  & .inner {
    overflow: hidden;
  }
}

@media (--breakpoint-not-small) {

  .flip-card-wrapper {
    width: 375px;

    &.about .flip-card {
      width: auto;
    }
  }
}

@media (--breakpoint-large) {

  .flip-card-wrapper.about {
    width: 33%;
  }
}

.ie .flip-card-wrapper {
  perspective: 0px;
  height: 100%;
  cursor: auto;

  & .flip-card {
    height: auto;
    
    &:hover, &:active, &:focus, &:focus-within {
      outline: 0!important;
    }
  }

  & .flip-card-back, & .flip-card-front {
    background: none !important;
    border: none !important;
    backface-visibility: visible;
    padding: 0 !important;

    & .ba {
      padding: 0 !important;
      border: none !important;
    }
  }

  &.about {

    & h4 {
      display: none;
    }

    & .flip-card-inner {
      box-shadow: none !important;
    }

    & .flip-card-back {
      padding: var(--spacing-extra-small) 0 0 var(--spacing-small) !important;

      & .inner {
        padding: var(--spacing-small) !important;
      }
    }
  }

  &.testimonial {

    & h3 {
      font-size: 1.3em;
    }

    & .flip-card-front {
      padding-bottom: var(--spacing-medium) !important;
    }

    & .flip-card-inner {
      border: 1px solid var(--grey-1) !important;
      padding: var(--spacing-medium) !important;
    }
  }

  .flip-card-inner {
    transform-style: none;
  }

  .flip-card-back {
    padding: 0 !important;
    position: relative;
    transform: rotateY(0deg);
    padding: 0 !important;
  
    & .inner {
      overflow: visible;
      border-top: 1px solid var(--grey-1);
      padding: var(--spacing-medium) 0 0 0 !important;
    }
  }

  &:hover, &:active, &:focus, &:focus-within {

    & .flip-card-inner {
      transform: rotateY(0deg);
    }

    & .flip-card-back, & .flip-card-front {
      backface-visibility: visible;
    }
  }
}
