footer {
  height: var(--footer-height);
  margin-top: calc(-1 * var(--footer-height));
  box-shadow: var(--footer-shadow);
}

.neg-margin {
  margin-top: calc(-0.75 * var(--neg-margin));
}

@media (--breakpoint-large) {
  .neg-margin {
    margin-top: calc(-0.75 * var(--neg-margin));
  }
}
