fieldset
{
  position: relative;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, textarea {
  background-color: transparent;
  color: var(--black);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--grey-2);
  padding: var(--spacing-small) 0;
  font-size: var(--font-size);
  line-height: 1.25;
  position: relative;
  transition: var(--shadow-transition);
  z-index: 2;
  user-select: none;
  &:hover, &:focus, &:active {
    padding: var(--spacing-small);
    border: 1px solid var(--grey-1);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 5px var(--grey-1);
  }
  &:focus + label {
    pointer-events: auto;
  }
}

input[type="file"] {
  font-size: var(--font-size);
  border: 1px solid transparent;
  cursor: pointer;

  & + label {
    display: block;
  } 
  &:hover {
    border-radius: var(--border-radius);
    border: 1px solid var(--grey-1);
  }
  &:focus {
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
  }
}

::-webkit-input-placeholder {
  color: transparent;
  font-size: var(--font-size);
  line-height: normal;
}

:-moz-placeholder {
  color: transparent;
  font-size: var(--font-size);
  line-height: normal;
}

::-moz-placeholder {
  color: transparent;
  font-size: var(--font-size);
  line-height: normal;
}

:-ms-input-placeholder {
  color: transparent;
  font-size: var(--font-size);
  line-height: normal;
}

label
{
  display: block;
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--grey-4);
  padding: var(--spacing-extra-small) 0;
  pointer-events: none;
  line-height: 1;
  transition: var(--hover-transition);
  z-index: 2;
}
