fieldset
{
  position: relative;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, textarea {
  background-color: var(--off-white);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--grey-2);
  padding: var(--spacing-small);
  font-size: var(--font-size);
  line-height: 1.25;
  position: relative;
  transition: var(--hover-transition);
  z-index: 2;
  user-select: none;
  &:hover, &:focus {
    border-radius: var(--border-radius);
    border: 1px solid var(--grey-2);
  }
  &:focus + label {
    pointer-events: auto;
  }
}

input[type="file"] {
  background-color: transparent;
  border: 1px solid transparent;
  padding: var(--spacing-extra-small) 1px;
  &:hover {
    border: 1px solid transparent;
  }
  &:focus {
    padding: var(--spacing-small);
    border: 1px solid var(--grey-2);
  }
}

::-webkit-input-placeholder {
   color: transparent;
   font-size: var(--spacing-medium);
   line-height: normal;
}

:-moz-placeholder {
   color: transparent;
   font-size: var(--spacing-medium);
   line-height: normal;
}

::-moz-placeholder {
   color: transparent;
   font-size: var(--spacing-medium);
   line-height: normal;
}

:-ms-input-placeholder {
   color: transparent;
   font-size: var(--spacing-medium);
   line-height: normal;
}

label
{
  display: block;
  font-size: .875rem;
  font-weight: 400;
  color: var(--grey-4);
  padding: var(--spacing-extra-small) 0;
  pointer-events: none;
  line-height: 1;
  transition: var(--hover-transition);
  z-index: 2;
}
