fieldset
{
  position: relative;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, textarea {
  background-color: transparent;
  color: var(--black);
  border: 1px solid transparent;
  border-bottom: 1px solid var(--grey-2);
  padding: var(--spacing-small) 0;
  font-size: var(--font-size);
  line-height: 1.25;
  position: relative;
  transition: var(--transition-all);
  z-index: 2;
  user-select: none;
  &:hover, &:focus, &:active {
    padding: var(--spacing-small);
    border: 1px solid var(--grey-1);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 5px var(--grey-1);
  }
  &:focus + label {
    pointer-events: auto;
  }
}

input[type="file"] {
  font-size: var(--font-size);
  border: 1px solid transparent;
  cursor: pointer;

  & + label {
    display: block;
  } 
  &:hover {
    border-radius: var(--border-radius);
    border: 1px solid var(--grey-1);
  }
  &:focus {
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
  }
}

:not(:focus).invalid {
  box-shadow: inset 0 0 5px darkred;
  border-bottom: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: var(--spacing-small);

  &:hover {
    box-shadow: inset 0 0 5px var(--grey-1);
  }

  &::-webkit-input-placeholder {
    color: var(--grey-2);
  }
  
  &:-moz-placeholder {
    color: var(--grey-2);
  }
  
  &::-moz-placeholder {
    color: var(--grey-2);
  }
  
  &:-ms-input-placeholder {
    color: var(--grey-2);
  }
}

::-webkit-input-placeholder {
  color: transparent;
  font-size: var(--font-size);
  line-height: normal;
}

:-moz-placeholder {
  color: transparent;
  font-size: var(--font-size);
  line-height: normal;
}

::-moz-placeholder {
  color: transparent;
  font-size: var(--font-size);
  line-height: normal;
}

:-ms-input-placeholder {
  color: transparent;
  font-size: var(--font-size);
  line-height: normal;
}

label
{
  display: block;
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--grey-3);
  padding: var(--spacing-extra-small) 0;
  pointer-events: none;
  line-height: 1;
  transition: var(--transition-hover);
  z-index: 2;
}

.swal2-popup {
  font-family: var(--font-family) !important;
  font-size: 1em !important;
  min-width: 400px;
}

.swal2-icon.swal2-info {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

button.swal2-styled {
  border-radius: var(--border-radius-pill) !important;
  transition: var(--transition-all) !important;
  box-shadow: var(--tile-shadow) !important;

  &:hover {
    box-shadow: var(--button-press-shadow) !important;
  }

  &.swal2-confirm {
    background-color: var(--primary) !important;
  }
  
  &.swal2-cancel {
    background-color: var(--grey-3) !important;
  }
}
