img.lg-object.lg-image,
.lg-thumb-item img {
  border-radius: 0;
}

.lg-thumb-item {
  &:hover, &.active {
      border: 2px solid var(--primary) !important;
  }
}

.lg-backdrop.in {
  opacity: 0.85 !important;
}
