img {
  max-width: 100%;
}

/* Remove border-radiius from full-width images */
img:not(.w-100) {
  border-radius: var(--border-radius);
}

.object-cover {object-fit: cover;}
.object-fill {object-fit: fill;}
