#jumbotron {
  display: flex;
  flex-direction: column-reverse;
  height: auto;

  & .image {
    height: 50vh;
    width: 100%;
  }

  & .hero {
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
    padding: 0 var(--spacing-small);

    & .backdrop {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    & .content {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    & .btn-container {
      text-align: center;
    }
  }
}

@media (--breakpoint-not-small) {
  #jumbotron {
    height: calc(50vh - var(--nav-height));
    flex-direction: row;

    & .image {
      height: 100%;
      width: 60%;
    }

    & .hero {
      width: 40%;
      height: 100%;
      padding: 0 var(--spacing-small);

      & .btn-container {
        text-align: left;
      }
    }
  }
}

@media (--breakpoint-medium) {
  #jumbotron {
    height: calc(75vh - var(--nav-height));
  }
}

@media (--breakpoint-large) {
  #jumbotron {
    height: calc(100vh - var(--nav-height));

    & .image {
      width: 70%;
    }

    & .hero {
      width: 30%;

      & .backdrop {
        border-radius: 0;
      }
    }
  }
}
