.link, .md a {
  text-decoration: none;
  transition: var(--hover-transition);
  color: var(--primary);
  padding: var(--spacing-extra-small) 1px;
  cursor: pointer;
}

footer .link {
  color: var(--white);
}

.link:link, .md a:link
.link:visited, .md a:visited {
  transition: color .15s ease-in;
}
.link:hover, .md a:hover   {
  transition: color .15s ease-in;
  text-decoration: underline;
}
.link:active, .md a:active  {
  border-radius: var(--border-radius);
  transition: color .15s ease-in;
}
.link:focus, .md a:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}
