.link:link, .md a:link
.link:visited, .md a:visited {
  transition: color .15s ease-in;
}
.link:hover, .md a:hover   {
  transition: color .15s ease-in;
  text-decoration: underline;
}
.link:active, .md a:active  {
  transition: color .15s ease-in;
}
.link:focus, .md a:focus   {
  transition: color .15s ease-in;
}

.link, .md a {
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
  color: var(--primary);
  cursor: pointer;

  &:before {
    background-color: var(--primary);
    content: '';
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 0;
  }

  &.link-prev:before {
    left: 100%;
    transform: translateX(-100%);
  }

  &.link-next:before {
    left: 0;
    transform: translateX(0);
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: 0!important;

    &:before {
       width: 100%;
    }
  }
}

.nav-link, .active {
  font-size: 0.8em;
  display: flex;
  text-decoration: none;
  width: 100%;
  color: var(--white);
  transition: var(--transition-all) !important;
  cursor: pointer;

  &:focus, &:active {
    background-color: var(--grey-4);
    color: var(--white);
    outline: 0!important;
  }
}

.footer-link {
  text-decoration: none;
  transition: all .15s ease-in;
  color: var(--white);
  padding: var(--spacing-extra-small) var(--spacing-small);
  border-radius: var(--border-radius-pill);

  &:hover {
    background-color: var(--grey-3);
  }

  &:focus, &:active {
    box-shadow: inset 0 0 0 2px var(--primary);
    outline: 0!important;
  }
}
