.link {
  text-decoration: none;
  transition: var(--hover-transition);
  color: var(--primary);
  padding: var(--spacing-extra-small);
  cursor: pointer;
}

footer .link {
  color: var(--white);
}

.link:link,
.link:visited {
  transition: color .15s ease-in;
}
.link:hover   {
  transition: color .15s ease-in;
  text-decoration: underline;
}
.link:active  {
  border-radius: var(--border-radius);
  transition: color .15s ease-in;
}
.link:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}
