.link, .md a {
  text-decoration: none;
  transition: var(--hover-transition);
  color: var(--primary);
  cursor: pointer;
}

.link:link, .md a:link
.link:visited, .md a:visited {
  transition: color .15s ease-in;
}
.link:hover, .md a:hover   {
  transition: color .15s ease-in;
  text-decoration: underline;
}
.link:active, .md a:active  {
  transition: color .15s ease-in;
}
.link:focus, .md a:focus   {
  transition: color .15s ease-in;
}
