.tile-link {
  text-decoration: none;
  transition: var(--shadow-transition);

  & .tile, &.tile-shadow {
    color: var(--white);
    overflow: hidden;
    transition: var(--shadow-transition) !important;
  }

  & .hover-cover {
    position: absolute;
    opacity: 0;
    transition: var(--shadow-transition) !important;
    z-index: 2;

    & .backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  & .gallery .hover-cover {
    width: auto;
    height: auto;
    right: 0;
    opacity: 1;
  }

  & .img-container {
    width: 100%;
    transition: var(--shadow-transition) !important;
  }

  & .gallery .backdrop {
    border-radius: var(--border-radius) 0 0 0;
  }

  &:hover, &:focus, &:active {
    outline: 0!important;

    & .tile, &.tile-shadow {
      box-shadow: var(--shadow-hover);
    }
    
    & .hover-cover,
    & .gallery .hover-cover {
      font-size: 1.1em;
      opacity: 1;
    }

    & .img-container {
      transform: scale(1.1);
    }

    & .banner {
      opacity: 0;
    }
  }
}

@media (--breakpoint-large) {

  .tile-link {

    & .gallery .hover-cover {
      width: 100%;
      height: 100%;
      left: 0;
      opacity: 0;
    }
  }
}
