#nav {
  height: var(--nav-height);
  min-width: 400px;

  & .nav-small {
    width: 300px;
  }

  &.small {
    height: var(--nav-height-small);
  }

  & .subtitle {
    transition: var(--transition-all);
  }
}

#logo {
  box-shadow: none;
  
  &:hover, &:focus, &:active {
    background-color: var(--grey-4);
    outline: none !important;
  }
}

.subtitle.small {
  width: 0;
  height: 0;
}

#call {
  
  &:focus, &:active {
    background-color: var(--grey-4);
    outline: none !important;
  }
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset var(--spacing-small) 0 0 var(--black), var(--nav-shadow);
  /* Link hover states */
  

  & a, & button {
    transition:
      font-size 0.3s ease,
      border 0.3s ease !important;

    &.active {
      background-color: var(--grey-4);
      border-left: var(--spacing-small) solid transparent;
    }
  }

  & ul .nav-link {
    border-left: var(--spacing-small) solid transparent;

    &:hover, &:focus {
      border-left: var(--spacing-small) solid var(--primary);
    }
  }
}

@media (--breakpoint-large) {
  .divider-grey {
    box-shadow: inset 0 -4px 0 var(--black), var(--nav-shadow);
    /* Link hover states */
    & a {
      transition: box-shadow 0.3s ease !important;
      
      &.active {
        border-left: none;
      } 
    }

    & ul .nav-link {
      border-left: none;
      
      &:hover, &:focus {
        border-left: none;
        box-shadow: inset 0 -4px 0 var(--primary); 
      }
    }
  }
}

#menu-container {
  box-shadow: var(--menu-shadow);
}

@media (--breakpoint-large) {
  #menu-container {
    box-shadow: none;
  }
}

.size-trans {
  transition: var(--transition-size);
}
