#nav {
  height: var(--nav-height);
  min-width: 400px;

  & .nav-small {
    width: 300px;
  }

  &.small {
    height: var(--nav-height-small);
  }
}

.nav-btn {
  text-decoration: none;
  transition: var(--transition-all) !important;

  &:hover {
    background-color: var(--grey-4);
  }
  
  &:focus, &:active {
    box-shadow: inset 0 -4px 0 var(--primary);
    background-color: var(--grey-4);
    outline: none !important;
  }
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset var(--spacing-small) 0 0 var(--black), var(--nav-shadow);
  /* Link hover states */
  

  & a, & button {
    transition:
      font-size 0.3s ease,
      border 0.3s ease !important;

    &.active {
      position: relative;
      font-weight: var(--bold-font-weight);
      color: var(--primary);
      background-color: var(--grey-4);
      border-left: var(--spacing-small) solid transparent;
      pointer-events: none;
    }
  }

  & ul {

    &:focus-within {
      width: 300px;
    }

    & .nav-link {
      border-left: var(--spacing-small) solid transparent;
  
      &:hover, &:focus {
        border-left: var(--spacing-small) solid var(--primary);
      }
    }
  }
}

@media (--breakpoint-large) {
  .divider-grey {
    box-shadow: inset 0 -4px 0 var(--black), var(--nav-shadow);
    /* Link hover states */
    & a {
      transition: box-shadow 0.3s ease !important;
      
      &.active {
        border-left: none;
      } 
    }

    & ul {
      &:focus-within {
        width: auto;
      }

      & .nav-link {
        border-left: none;
        
        &:hover, &:focus {
          border-left: none;
          box-shadow: inset 0 -4px 0 var(--primary); 
        }
      }
    }
  }
}

#menu-container {
  box-shadow: var(--menu-shadow);
}

@media (--breakpoint-large) {
  #menu-container {
    box-shadow: none;
  }
}

.size-trans {
  transition: var(--transition-size);
}
