#nav {
  position: fixed;
  height: var(--nav-height);
  width: 100%;
  min-width: 400px;
  background-color: var(--black);
  z-index: 999;

  & .nav-small {
    width: 300px;
  }

  &.small {
    height: var(--nav-height-small);

    #logo img {
      width: 100px;
    }
  }
}

#logo {
  transition: opacity 0.3s ease-out !important;

  &:hover {
    opacity: 0.95;
    
    img {
      box-shadow: 0 0 10px 1px var(--off-white);
    }
  }

  img {
    width: 125px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-out, width 0.25s ease-out;
  }
}

@media (--breakpoint-large) {
  #logo {
  
    img {
      width: 150px;
    }
  }
}

.nav-btn {
  text-decoration: none;
  background-color: transparent;
  color: var(--off-white);
  text-decoration: none;
  transition: background-color 3s ease-out !important;

  &:hover {
    background-color: var(--grey-4);
  }
  
  &:focus, &:active {
    box-shadow: inset 0 -4px 0 var(--primary);
    background-color: var(--grey-4);
    outline: none !important;
  }
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset var(--spacing-small) 0 0 var(--black), var(--nav-shadow);
  /* Link hover states */
  

  & a, & button {
    transition:
      background-color 0.3s ease-out,
      border 0.3s ease-out !important;

    &.active {
      position: relative;
      font-weight: var(--bold-font-weight);
      color: var(--primary);
      background-color: var(--grey-4);
      border-left: var(--spacing-small) solid transparent;
      pointer-events: none;
    }
  }

  & ul {

    &:focus-within {
      width: 300px;
    }

    & .nav-link {
      border-left: var(--spacing-small) solid transparent;
  
      &:hover, &:focus {
        border-left: var(--spacing-small) solid var(--primary);
      }
    }
  }
}

@media (--breakpoint-large) {
  .divider-grey {
    box-shadow: inset 0 -4px 0 var(--black), var(--nav-shadow);
    /* Link hover states */
    & a {
      transition:
        box-shadow 0.3s ease,
        background-color 0.3s ease-out !important;
      
      &.active {
        border-left: none;
      } 
    }

    & ul {
      &:focus-within {
        width: auto;
      }

      & .nav-link {
        border-left: none;
        
        &:hover, &:focus {
          border-left: none;
          box-shadow: inset 0 -4px 0 var(--primary); 
        }
      }
    }
  }
}

#menu-container {
  position: absolute;
  left: 0;
  top: var(--nav-height);
  height: 100vh;
  overflow-y: auto;
  background-color: var(--black);
  box-shadow: var(--menu-shadow);
  z-index: 999;

  & ul {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 0;
    overflow-x: hidden;
    overflow-y: visible;
    color: var(--off-white);
    background-color: var(--black);
  }
}

@media (--breakpoint-large) {
  #menu-container {
    position: static;
    height: 100%;
    box-shadow: none;

    & ul {
      flex-direction: row;
      align-items: flex-end;
      height: 100%;
      width: auto;
    }
  }
}

.size-trans {
  transition: var(--transition-size);
}
