.tile-shadow {
  box-shadow: var(--tile-shadow);
}

.nav-shadow {
  box-shadow: var(--nav-shadow);
}

.header-shadow {
  box-shadow: var(--header-shadow);
}

.footer-shadow {
  box-shadow: var(--footer-shadow);
}

.footer-shadow-light {
  box-shadow: var(--footer-shadow-light);
}

.all-shadow {
  box-shadow: var(--footer-shadow-light), var(--header-shadow);
}
