.tile-shadow {
  -webkit-box-shadow: var(--tile-shadow);
  -moz-box-shadow: var(--tile-shadow);
  box-shadow: var(--tile-shadow);
}

.nav-shadow {
  -webkit-box-shadow: var(--nav-shadow);
  -moz-box-shadow: var(--nav-shadow);
  box-shadow: var(--nav-shadow);
}

.header-shadow {
  -webkit-box-shadow: var(--header-shadow);
  -moz-box-shadow: var(--header-shadow);
  box-shadow: var(--header-shadow);
}

.footer-shadow {
  -webkit-box-shadow: var(--footer-shadow);
  -moz-box-shadow: var(--footer-shadow);
  box-shadow: var(--footer-shadow);
}

.footer-shadow-light {
  -webkit-box-shadow: var(--footer-shadow-light);
  -moz-box-shadow: var(--footer-shadow-light);
  box-shadow: var(--footer-shadow-light);
}

.all-shadow {
  -webkit-box-shadow: var(--footer-shadow-light), var(--header-shadow);
  -moz-box-shadow: var(--footer-shadow-light), var(--header-shadow);
  box-shadow: var(--footer-shadow-light), var(--header-shadow);
}
