/* Focus states */
input:focus, textarea:focus {
  outline: 0!important;
}

.enlarge {
  transition: font-size 0.3s ease;
  
  &:hover {
    font-size: 1.5em;
  }
}

.raise {
  transition: var(--transition-hover);
  transform: translateY(0) translateZ(0);
}

.raise:hover,
.raise:focus {
  transition: var(--transition-hover);
  transform: translateY(-.12rem) translateZ(0);
}

.raise:active {
  transition: var(--transition-hover);
  opacity: .5;
}

.hide-child .child {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.hide-child:hover  .child,
.hide-child:focus  .child,
.hide-child:active .child {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.underline-hover:hover,
.underline-hover:focus {
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}
