/* Focus states */
input:focus, textarea:focus {
  background-color: var(--white);
  box-shadow: inset 0 0 5px var(--grey-2);
  border-radius: var(--border-radius);
  outline: 0!important;
}

.link, .md a {
  text-decoration: none;
  position: relative;
  color: var(--primary);
  transition: var(--shadow-transition) !important;
  cursor: pointer;

  &:before {
    background-color: var(--primary);
    content: '';
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 0;
  }

  &.link-prev:before {
    left: 100%;
    transform: translateX(-100%);
  }

  &.link-next:before {
    left: 0;
    transform: translateX(0);
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: 0!important;

    &:before {
       width: 100%;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  transition: var(--shadow-transition) !important;
  cursor: pointer;

  &:focus, &:active {
    background-color: var(--grey-4);
    color: var(--white);
    outline: 0!important;
  }
}

.footer-link {
  text-decoration: none;
  transition: all .15s ease-in;
  color: var(--white);
  padding: var(--spacing-extra-small) var(--spacing-small);
  border-radius: var(--border-radius-pill);

  &:hover, &:focus, &:active {
    background-color: var(--grey-3);
    box-shadow: none;
    outline: 0!important;
  }
}

.testimonial {
  text-decoration: none;
  color: var(--primary);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--tile-shadow);
  transition: var(--shadow-transition);

  & blockquote {
    transition: var(--shadow-transition);
  }

  &:hover {
    text-decoration: none;
    box-shadow: var(--shadow-hover);
  }

  &:focus, &:active {
    outline: 0!important;

    & blockquote {
      transition: var(--shadow-transition);
      background-color: var(--grey-1);
    }
  }
}

.tile-shadow {
  -webkit-box-shadow: var(--tile-shadow);
  -moz-box-shadow: var(--tile-shadow);
  box-shadow: var(--tile-shadow);
}

.nav-shadow {
  -webkit-box-shadow: var(--nav-shadow);
  -moz-box-shadow: var(--nav-shadow);
  box-shadow: var(--nav-shadow);
}

.header-shadow {
  -webkit-box-shadow: var(--header-shadow);
  -moz-box-shadow: var(--header-shadow);
  box-shadow: var(--header-shadow);
}

.footer-shadow {
  -webkit-box-shadow: var(--footer-shadow);
  -moz-box-shadow: var(--footer-shadow);
  box-shadow: var(--footer-shadow);
}

.footer-shadow-light {
  -webkit-box-shadow: var(--footer-shadow-light);
  -moz-box-shadow: var(--footer-shadow-light);
  box-shadow: var(--footer-shadow-light);
}

.tile-link {
  text-decoration: none;
  transition: var(--shadow-transition);

  & .tile, &.tile-shadow {
    color: var(--white);
    overflow: hidden;
    transition: var(--shadow-transition) !important;
  }

  & .hover-cover {
    opacity: 0;
    transition: var(--shadow-transition) !important;
  }

  & .banner {
    max-height: 100vh;
    transition: var(--shadow-transition);
  }

  &:hover, &:focus, &:active {
    outline: 0!important;

    & .tile, &.tile-shadow {
      box-shadow: var(--shadow-hover);
    }

    & .hover-cover {
      opacity: 1;
    }

    & .banner {
      opacity: 0;
    }
  }
}

button:focus {
  background-color: var(--grey-4);
  color: var(--white);
  outline: 0!important;
}

.btn:focus {
  border: 2px solid var(--grey-3);
  box-shadow: inset 0 0 0 2px var(--white);
  outline: 0!important;
}

.enlarge {

  & i {
    transition: transform .25s ease;
  }
  
  &:hover, &:focus, &:active {
    transform: scale(1.1);
    
    i {
      transform: scale(1.1);
    }
  }
}

.raise {
  transition: var(--hover-transition);
  transform: translateY(0) translateZ(0);
}

.raise:hover,
.raise:focus {
  transition: var(--hover-transition);
  transform: translateY(-.12rem) translateZ(0);
}

.raise:active {
  transition: var(--hover-transition);
  opacity: .5;
}

.hide-child .child {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.hide-child:hover  .child,
.hide-child:focus  .child,
.hide-child:active .child {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.underline-hover:hover,
.underline-hover:focus {
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}
