/* Focus states */
input:focus, textarea:focus {
  border-radius: var(--border-radius);
  background-color: var(--white);
  border: 1px solid var(--grey-2);
  outline: 0!important;
}

.link, .md a {
  text-decoration: none;
  position: relative;
  color: var(--primary);
  transition: var(--box-shadow-transition) !important;
  cursor: pointer;

  &:before {
    background-color: var(--primary);
    content: '';
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 0;
  }

  &.link-prev:before {
    left: 100%;
    transform: translateX(-100%);
  }

  &.link-next:before {
    left: 0;
    transform: translateX(0);
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: 0!important;

    &:before {
       width: 100%;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  transition: var(--box-shadow-transition) !important;
  cursor: pointer;

  &:focus {
    background-color: var(--grey-4);
    color: var(--white);
    outline: 0!important;
  }
}

.footer-link {
  text-decoration: none;
  transition: all .15s ease-in;
  color: var(--white);
  padding: var(--spacing-extra-small) var(--spacing-small);
  border-radius: var(--border-radius-pill);

  &:hover, &:focus, &:active {
    background-color: var(--grey-3);
    box-shadow: none;
    outline: 0!important;
  }
}

.testimonial {
  text-decoration: none;
  color: var(--primary);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--tile-shadow);
  transition: var(--box-shadow-transition);

  & blockquote {
    transition: var(--box-shadow-transition);
  }

  &:hover {
    text-decoration: none;
    box-shadow: var(--box-shadow-hover);
  }

  &:focus, &:active {
    outline: 0!important;

    & blockquote {
      transition: var(--box-shadow-transition);
      background-color: var(--grey-1);
    }
  }
}

.tile-shadow {
  box-shadow: var(--tile-shadow);
}

.nav-shadow {
  box-shadow: var(--nav-shadow);
}

.footer-shadow {
  box-shadow: var(--footer-shadow);
}

.tile {
  text-decoration: none;
  color: var(--white);
  box-shadow: var(--tile-shadow);
  transition: var(--box-shadow-transition);
  border-radius: var(--border-radius);

  & .banner {
    transition: var(--box-shadow-transition);
  }

  &:hover {
    box-shadow: var(--box-shadow-hover);

    &:hover .banner {
      padding-bottom: var(--spacing-small);
    }
  }

  &:focus, &:active {
    box-shadow: var(--box-shadow-hover);
    outline: 0!important;

    &:focus .banner, &:active .banner {
      padding-bottom: var(--spacing-medium);
    }
  }
}


button:focus {
  background-color: var(--grey-4);
  color: var(--white);
  outline: 0!important;
}

.btn:focus {
  border: 2px solid var(--grey-3);
  box-shadow: inset 0 0 0 2px var(--white);
  outline: 0!important;
}

.enlarge i {
  transition: transform .25s ease;
}

.enlarge:hover i,
.enlarge:focus i {
  transform: scale(1.25);
}

.raise {
  transition: var(--hover-transition);
  transform: translateY(0) translateZ(0);
}

.raise:hover,
.raise:focus {
  transition: var(--hover-transition);
  transform: translateY(-.12rem) translateZ(0);
}

.raise:active {
  transition: var(--hover-transition);
  opacity: .5;
}

.hide-child .child {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.hide-child:hover  .child,
.hide-child:focus  .child,
.hide-child:active .child {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.underline-hover:hover,
.underline-hover:focus {
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}