.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

::selection {
  color: var(--black);
  background-color: var(--highlight);
}

.bg-black ::selection {
  background-color: var(--white);
}

#logo {
  box-shadow: none;
  
  &:hover {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset var(--spacing-small) 0 0 var(--black), var(--nav-shadow);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
    border-left: var(--spacing-small) solid transparent;

    &.selected {
      border-left: var(--spacing-small) solid var(--primary);
    }
  }

  & ul .nav-link:hover, & ul .nav-link:focus {
    border-left: var(--spacing-small) solid var(--primary);
  }
}

@media (--breakpoint-medium) {
  .divider-grey {
    box-shadow: inset 0 -4px 0 var(--black), var(--nav-shadow);
    /* Link hover states */
    & a {
      border-left: none;
      transition: var(--hover-transition);

    &.selected {
        border-left: none;
        box-shadow: inset 0 -4px 0 var(--primary); 
      } 
    }
  
    & ul .nav-link:hover, & ul .nav-link:focus {
      border-left: none;
      box-shadow: inset 0 -4px 0 var(--primary); 
    }
  }
}

#menu-container {
  box-shadow: var(--menu-shadow);
}

@media (--breakpoint-medium) {
  #menu-container {
    box-shadow: none;
  }
}

.nav-small {
  width: 300px;
}

.size-trans {
  transition: var(--size-transition);
}

.visible {   visibility: visible; }
.hidden {    visibility: hidden; }
.no-select { user-select: none; }
.no-resize { resize: none; }

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-top: var(--nav-height);
  padding-bottom: var(--footer-height);
}

nav {
  height: var(--nav-height);

  &.small {
    height: var(--nav-height-small);
  }
}

footer {
  height: var(--footer-height);
  margin-top: calc(-1 * var(--footer-height));
  -webkit-box-shadow: var(--footer-shadow);
  -moz-box-shadow: var(--footer-shadow);
  box-shadow: var(--footer-shadow);
}

@media (--breakpoint-medium) {
  #content-wrapper {
    padding-bottom: var(--footer-height-medium);
  }

  footer {
    height: var(--footer-height-medium);
    margin-top: calc(-1 * var(--footer-height-medium));
  }
}

.section {
  padding: var(--spacing-large) var(--spacing-medium);

  & + .section {
    border-top: 1px solid var(--off-white);
  }
}

.flip-card {
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor: default;

  & .link {
    cursor: pointer;
  }

  &:hover, &:active, &:focus, &:focus-within {
    outline: 0!important;

    & .flip-card-inner {
      transform: rotateY(180deg);
    }

    & .flip-card-front {
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      box-shadow: none;
    }

    & .flip-card-back {
      box-shadow: var(--tile-shadow);
    }
  }
}

.contact {
  flex-basis: 33%;
}

.flip-card-inner {
  height: 100%;
  background: transparent;
  position: relative;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.flip-card-front {
  position: relative;
}

.flip-card-front, .flip-card-back {
  height: 100%;
  -webkit-backface-visibility: visible; /* Safari */
  backface-visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
