::selection {
  color: var(--black);
  background-color: var(--highlight);
}

footer ::selection {
  background-color: var(--white);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset var(--spacing-small) 0 0 var(--black), var(--nav-shadow);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
    border-left: var(--spacing-small) solid transparent;

    &.selected {
      border-left: var(--spacing-small) solid var(--primary);
    }
  }

  & ul .nav-link:hover, & ul .nav-link:focus {
    border-left: var(--spacing-small) solid var(--primary);
  }
}

@media (--breakpoint-medium) {
  .divider-grey {
    box-shadow: inset 0 -4px 0 var(--black), var(--nav-shadow);
    /* Link hover states */
    & a {
      border-left: none;
      transition: var(--hover-transition);

    &.selected {
        border-left: none;
        box-shadow: inset 0 -4px 0 var(--primary); 
      } 
    }
  
    & ul .nav-link:hover, & ul .nav-link:focus {
      border-left: none;
      box-shadow: inset 0 -4px 0 var(--primary); 
    }
  }
}

#menu-container {
  box-shadow: var(--menu-shadow);
}

@media (--breakpoint-medium) {
  #menu-container {
    box-shadow: none;
  }
}

.nav-small {
  width: 300px;
}

.size-trans {
  transition: var(--size-transition);
}

.visible {   visibility: visible; }
.hidden {    visibility: hidden; }
.no-select { user-select: none; }
.no-resize { resize: none; }

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-top: var(--nav-height);
  padding-bottom: var(--footer-height);
}

nav {
  height: var(--nav-height);

  &.small {
    height: var(--nav-height-small);
  }
}

footer {
  height: var(--footer-height);
  margin-top: calc(-1 * var(--footer-height));
  -webkit-box-shadow: var(--footer-shadow);
  -moz-box-shadow: var(--footer-shadow);
  box-shadow: var(--footer-shadow);
}

@media (--breakpoint-medium) {
  #content-wrapper {
    padding-bottom: var(--footer-height-medium);
  }

  footer {
    height: var(--footer-height-medium);
    margin-top: calc(-1 * var(--footer-height-medium));
  }
}

.section {
  padding: var(--spacing-large) var(--spacing-medium);

  & + .section {
    border-top: 1px solid var(--grey-1);
  }
}
