::selection {
  color: var(--black);
  background-color: var(--highlight);
}

#sitemap ::selection {
  background-color: var(--white);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--black), 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}

.size-trans {
  transition: var(--size-transition);
}

.visible {  visibility: visible; }
.hidden {   visibility: hidden; }
.bs-none {  box-shadow: inset none; }
.no-select { user-select: none; }