::selection {
  color: var(--black);
  background-color: var(--highlight);
}

footer ::selection {
  background-color: var(--white);
}

/* Used in the navbar */
.divider-grey {
  box-shadow: inset var(--spacing-small) 0 0 var(--black), var(--nav-shadow);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }

  & ul .nav-link:hover, & ul .nav-link:focus {
    box-shadow: inset var(--spacing-small) 0 0 var(--primary);
  }
}

@media (--breakpoint-not-small) {
  .divider-grey {
    box-shadow: inset 0 -4px 0 var(--black), var(--nav-shadow);
    /* Link hover states */
    & a {
      transition: var(--hover-transition);
    }
  
    & ul .nav-link:hover, & ul .nav-link:focus {
      box-shadow: inset 0 -4px 0 var(--primary);
    }
  }
}

#menu-container {
  box-shadow: var(--menu-shadow);
}

@media (--breakpoint-medium) {
  #menu-container {
    box-shadow: none;
  }
}

.nav-small {
  width: 300px;
}

.image-shadow {
  box-shadow: var(--image-shadow);
}

.size-trans {
  transition: var(--size-transition);
}

.visible {   visibility: visible; }
.hidden {    visibility: hidden; }
.no-select { user-select: none; }
.no-resize { resize: none; }

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-top: var(--nav-height);
  padding-bottom: var(--footer-height);
}

nav {
  height: var(--nav-height);

  &.small {
    height: var(--nav-height-small);
  }
}

.selected {
  box-shadow: inset var(--spacing-small) 0 0 var(--off-white); 
}

@media (--breakpoint-medium) {
  .selected {
    box-shadow: inset 0 -4px 0 var(--off-white); 
  } 
}

footer {
  height: var(--footer-height);
  margin-top: calc(-1 * var(--footer-height));
}

@media (--breakpoint-medium) {
  #content-wrapper {
    padding-bottom: var(--footer-height-medium);
  }

  footer {
    height: var(--footer-height-medium);
    margin-top: calc(-1 * var(--footer-height-medium));
  }
}

.section-white, .section-off-white {
  padding: var(--spacing-large) var(--spacing-medium);
  border-bottom: 1px solid var(--grey-1);
}

.section-off-white {
  background-color: var(--off-white);
}

.section-white {
  background-color: var(--white);
}