:root {
	/* Colors */
	--primary: rgba(84, 128, 0, 1);
	--secondary: rgba(97, 148, 0, 1);
	--highlight: rgba(145, 145, 145, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(245, 245, 245, 1);
	--grey-1: rgba(225, 225, 225, 1);
	--grey-2: rgba(175, 175, 175, 1);
	--grey-3: rgba(105, 105, 105, 1);
	--grey-4: rgba(45, 45, 45, 1);
	--black: rgba(25, 25, 25, 1);
	--black-90: rgba(25, 25, 25, 0.9);

	/* Typography */
	--font-family: Muli, Lato, Nunito Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;

	--font-size: 20px;
	--font-size-m: 22px;
	--font-size-l: 24px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--nav-height: 80px;
	--nav-height-small: 60px;
	--footer-height: 250px;

	--footer-height-medium: 50px;

	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: 7px;
	--border-radius-pill: 75px;
	--hover-transition: all 150ms ease;
	--size-transition:
	  width 150ms ease,
	  height 150ms ease,
	  max-height 150ms ease,
    max-width 150ms ease;
    
  /* Box Shadow */
  --box-shadow:
    0  5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  --box-shadow-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  --box-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  --tile-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  --nav-shadow: 0 3px 20px rgba(0,0,0,0.19), 0 3px 20px rgba(0,0,0,0.23);

  --menu-shadow: 3px 0 20px rgba(0,0,0,0.19), 3px 0 20px rgba(0,0,0,0.23);

  --footer-shadow: 0 -3px 20px rgba(0,0,0,0.19), 0 3px 20px rgba(0,0,0,0.23);

  --button-press-shadow: 0 0 20px rgba(0,0,0,0.35), 0 0 6px rgba(0,0,0,0.47);
}
