<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif preload" data-instant-intensity="mousedown">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    

    <div id="page-container" class="overflow-hidden">
      <div id="content-wrapper">

        {{ block "main" . }}{{ end }}

      </div>

      {{ block "footer" . }}
        {{ partial "footer" . }}
      {{end}}

    </div>

    {{ $script := .Site.Data.webpack.main }}
    
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}

    <script> </script>
  
  </body>
</html>
