<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif preload">
    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    <div id="page-container" class="overflow-hidden">
      <div id="content-wrapper">

        <noscript>
          <div id="noscript-warning">This site works best with JavaScript enabled.</div>
        </noscript>

        <div id="ie-warning">Please use a modern browser such as Google Chrome or Mozilla Firefox.</div>

        {{ block "main" . }}{{ end }}
      </div>

      {{ block "footer" . }} {{ partial "footer" . }} {{end}}

      <div class="fixed bottom-0 right-0 ma3 flex-m dn flex-column items-end z-999">
        <div class="mb2 animated zoomIn">
          <a class="btn-contact" href="tel:1-971-336-2341"
            ><span class="flex flex-row justify-center items-center"
              ><i class="fas fa-phone" aria-hidden="true"></i
              ><span class="details db-m dn"
                ><span class="pl2"></span>+1 (971) 336-2341</span
              ></span
            ></a
          >
        </div>
        <div class="animated zoomIn">
          <a class="btn-contact" href="mailto:office@ncmreno.com"
            ><span class="flex flex-row justify-center items-center"
              ><i class="fas fa-envelope" aria-hidden="true"></i
              ><span class="details db-m dn"
                ><span class="pl2"></span>office@ncmreno.com</span
              ></span
            ></a
          >
        </div>
      </div>
    </div>

    <script>
      function msieversion() {
        var ua = window.navigator.userAgent;
        var isIE = /MSIE|Trident/.test(ua);
  
        if (isIE) {
          // add ie class to body
          document.body.classList.add('ie');

          // add lazy load elements all at once
          var noscriptElements = document.querySelectorAll('.lozad');
          for (var i = 0; i < noscriptElements.length; i++) {
            var el = noscriptElements[i];

            var image = el.getAttribute('data-src');
            if (image) {
              el.setAttribute('src', image);
            }

            var background = el.getAttribute('data-background-image');
            if (background) {
              el.style.backgroundImage = 'url(' + background + ')';
            }
          }
        }
      }

      window.addEventListener('load', msieversion);
    </script>

    {{ $script := .Site.Data.webpack.main }} {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
    {{ end }}

    <script></script>
  </body>
</html>
