<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif overflow-x-hidden">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    <div data-aos="fade-in">

      {{ block "main" . }}{{ end }}

      {{ block "footer" . }}
        <div class="bg-white pv3">
          {{ partial "form-application" . }}
        </div>
        {{ partial "footer" . }}
      {{end}}

    </div>

    {{ $script := .Site.Data.webpack.main }}
    
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  
  </body>
</html>
