{{ define "main" }}

  {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.title "position" "bg-center") }}

  {{ partial "short-text" .Params.intro }}

  {{ with .Params.main }}

    <div class="section bg-white">
      <div class="mw7 center">

        <h2 class="f2 lh-title mb3">{{.heading}}</h2>
        <p>{{.text}}</p>

        <div class="flex-l flex-row flex-wrap justify-center">

          {{ range .list }}

            <div class="w-33-l w-100 pa3-l pv3">
              <div class="flip-card h-100" tabindex=0 data-aos="fade-in">
            
                <div class="flip-card-inner">

                  <div class="flip-card-front h-100 bg-spikes grey-4 br1 overflow-hidden tile-shadow">

                    <img src="{{ .image }}" alt="{{ .name }}, {{ .position }} at NCM Inc." class="w-100 br1 br--top object-cover" style="height: 400px;" />

                    <div class="ph3 pb2 mt2 br1">
                      
                      <h2 class="f4 lh-title mb1">{{ .name }}</h2>
                      <h3 class="f5">{{ .position }}</h3>
  
                    </div>
                  </div>

                  <div class="flip-card-back pa3 bg-spikes br1 overflow-auto">

                      <div class="h-100 bg-white br1 pv1 ph2 ba b--off-white">

                      <h2 class="f5 lh-title mb2">About {{ with .name }}{{ index (split . " ") 0 }}{{ end }}</h2>
                      <p class="db">{{ .text }}</p>

                    </div>
                  
            
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ partial "form-contact" . }}

{{ end }}
