{{ define "main" }}

  {{ partial "jumbotron" .Params }}

  {{ partial "short-text" .Params.intro }}

  {{ with .Params.main }}

    <div class="section bg-white neg-margin-offset">
      <div class="mw7 center">

        <h2 class="f2 lh-title mb3">{{.heading}}</h2>
        <p>{{.text}}</p>

        <div class="flex-ns flex-row flex-wrap">

          {{ range .list }}
            {{ partial "card-about" . }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

  {{ partial "form-contact" . }}

{{ end }}
