{{ define "main" }}

{{ partial "heading-center" . }}

<div class="bg-white ph3 pv4 bb b--grey-1">
  <div class="mw6 center">

    <p class="db mb4">{{ .Params.intro_text }}</p>

    <div class="flex-ns flex-wrap mb4">
    
      {{ range .Params.contact_entries }}
        <div class="w-50-ns mb2-ns mb4">
          <h4 class="f4 lh-title mb2">{{ .heading }}</h4>
          <p class="md">{{ .text | markdownify }}</p>
        </div>
      {{ end }}
      
    </div>
  
    <p>{{ .Params.outro_text }}</p>

  </div>
</div>

{{ partial "form-contact" }}

{{ end }}
