{{ define "main" }}

<div class="ph3 pv4">

	<div class="center mw6">

		<div class="f2 tc db" data-aos="zoom-in">{{ .Params.heading }}</div>
    
  </div>
</div>

<div class="bg-white ph3 pv4">

  <div class="mw6 center">

    <div class="db mb4">{{ .Content }}</div>

    <div class="flex-ns flex-wrap mb4">
    
      {{ range .Params.contact_entries }}
        <div class="w-50-ns">
          <h4 class="f4 lh-title mb2">{{ .heading }}</h4>
          <p class="md">{{ .text | markdownify }}</p>
        </div>
      {{ end }}
      
    </div>
  
    <p>You can also use the form below to contact us directly.</p>

  </div>
</div>

{{ end }}
