{{ define "main" }}

{{ partial "jumbotron" .Params }}

<div class="section bg-white neg-margin-offset">

    <div class="mw7 center">

      {{ with .Params.main }}

      <div data-aos="fade-in">
        {{ partial "section-title" .heading }}
        {{ with .text }}<p class="mb4 db">{{ . }}</p>{{ end }}
      </div>

        <div class="flex flex-row flex-wrap justify-center">
          {{ range .list }}
            {{ partial "card-testimonial" . }}
          {{ end }}
        </div>

      {{ end }}
          
    </div>
  </div>
  

{{ partial "form-contact" }}
  
{{ end }}
