{{ define "main" }}

<!-- Jumbotron -->
{{ partial "jumbotron-home" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "position" "bg-bottom") }}

<!-- Blurb -->
<div class="bg-grey-1">
  {{ partial "short-text" .Params.blurb}}
</div>

<!-- About -->
<div class="bg-white pv4">
  {{ partial "text-and-image" (dict "heading" .Params.about.heading "text" .Params.about.text) }}
  {{ partial "button-redirect" (dict "link" "/about" "text" "Meet our team")}}
</div>

<!-- Projects -->
<div class="bg-grey-1 pv4">
  {{ partial "2-up" .Params.projects }}
  {{ partial "button-redirect" (dict "link" "/projects" "text" "See our projects")}}
</div>

<!-- Testimonials -->
<div class="bg-white pv4">
  {{ partial "testimonials" . }}
  {{ partial "button-redirect" (dict "link" "/testimonials" "text" "More testimonials")}}
</div>

{{ end }}
