{{ define "main" }}

<!-- Jumbotron -->
{{ partial "jumbotron-home" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "position" "bg-bottom") }}

<!-- Intro -->
{{ partial "short-text" .Params.intro }}

<!-- Projects -->
<div class="section bg-white">
  <div class="mw7 center" data-aos="fade-in">

    <h2 class="f2 lh-title mb3">{{ .Params.projects.heading }}</h2>
  
    <p class="mb3">{{ .Params.projects.text }}</p>
  
    <div class="flex-m flex-row flex-wrap center mhn2-m mw7">
  
      {{ range first 4 ( where ( where .Site.Pages "Section" "=" "projects" ) ".Params.featured" "=" true ) }}
        {{ .Render "li" }}
      {{ end }}
  
    </div>

    {{ partial "button-forward" (dict "link" "/projects" "text" .Params.projects.button) }}

  </div>
</div>

<!-- About -->
{{ with .Params.about }}
  <div class="section bg-debut relative footer-shadow-light">
    <div class="mw7 center" data-aos="fade-in">
      {{ partial "text-and-image" . }}
      {{ partial "button-forward" (dict "link" "/about" "text" .button)}}
    </div>
  </div>
{{ end }}

<!-- Testimonials -->
<div class="section bg-white neg-margin-offset">
  <div class="mw7 center" data-aos="fade-in">

    <h2 class="f2 lh-title mb3">{{ .Params.testimonials.heading }}</h2>
  
    <div class="flex flex-row flex-wrap justify-center mb3-ns mb1">

      {{ range ( where .Site.Sections "Section" "=" "testimonials") }}
        {{ with .Params.main }}
          <div class="flex flex-row flex-wrap justify-center">
            {{ range first 3 .list }}
              {{ partial "testimonials" . }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
  
    </div> 
  
  {{ partial "button-forward" (dict "link" "/testimonials" "text" .Params.testimonials.button)}}

  </div>
</div>

{{ partial "form-contact" }}

{{ end }}
