{{ define "main" }}

<!-- Jumbotron -->
{{ partial "jumbotron-home" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "position" "bg-bottom") }}

<!-- Blurb -->
{{ partial "short-text" .Params.blurb }}

<!-- About -->
<div class="bg-white pv4">
  {{ partial "text-and-image" .Params.about }}
  {{ partial "button-forward" (dict "link" "/about" "text" "Meet our team")}}
</div>

<!-- Projects -->
<div class="bg-off-white center pv4 mw7">

  <div class="ph3">

    <h2 class="f2 lh-title mv3">{{.Params.projects.heading}}</h2>
  
    <p class="mb3">{{.Params.projects.text}}</p>
  
    <div class="flex-m flex-row flex-wrap center mhn2-m mw7">
  
      {{ range first 4 ( where ( where .Site.Pages "Section" "=" "projects" ) ".Params.featured" "=" true ) }}
        <div class="w-50-m ph2-ns pv2">  
          <a href="{{.RelPermalink}}" class="link db" data-aos="fade-in">
            {{ partial "media-tile" .Params }}
          </a>
        </div>
      {{ end }}
  
    </div>
  </div>

  {{ partial "button-forward" (dict "link" "/projects" "text" "More projects") }}

</div>

<!-- Testimonials -->
<div class="bg-white pv4">

  <div class="ph3 mw7 center">

    <h2 class="f2 lh-title mb3 mw7">{{ .Params.testimonials.heading }}</h2>
  
    <div class="flex flex-row flex-wrap justify-center mb3-ns mb1">

      {{ range where .Pages "Section" "testimonials" }}
        {{ range .Params.list }}
          {{ if eq .featured true }}{{ partial "blockquote" . }}{{ end }}
        {{ end }}
      {{ end }}
  
    </div>
  </div>
  
  {{ partial "button-forward" (dict "link" "/testimonials" "text" "More testimonials")}}
</div>

{{ end }}
