{{ define "main" }}

{{ partial "heading-left" (dict "title" .Title "subtitle" .Params.position "subsubtitle" .Params.company "mw" "mw6") }}

<div class="section-white">
  <div class="mw6 center">
    <h2 class="f3 lh-title mb3">Testimonial</h2>
    <p class="db">“{{ .Params.quote }}”</p>
  </div>
</div>

<div class="bg-off-white pv4 ph3">
  <div class="mw6 center">

    {{ if .Params.contact }}
    
      <h2 class="f3 lh-title mb3">Contact {{ with .Title }}{{ index (split . " ") 0 }}{{ end }}</h2>
      <p class="db lh-title">We encourage you to contact our references to hear their experience with our team.</p>

      <div class="flex-ns flex-row pt2">

        {{ range $key, $value := .Params.contact }}
          {{ if $value }}

            <div class="w-50-ns ph-ns pv2">
              <h3 class="f4 lh-title mb2">{{ title $key }}</h3>
                
              <p class="db"><a class="link" {{ if eq $key "phone" }}href="tel:+1{{ $value | urlize }}"{{ else if eq $key "email" }}href="mailto:{{ $value }}"{{ end }}>{{ $value }}</a></p>
            </div>

          {{ end }}
        {{ end }}

      </div>

    {{ else }}

    {{ partial "form-contact" . }}

    {{ end }}

  </div>
</div>

{{ end }}
