{{ define "main" }}

  {{ partial "jumbotron" (dict "imageUrl" "/img/cover-projects.jpg" "title" "Our Projects" "position" "bg-center") }}

  {{ partial "short-text" (dict "heading" "Over 100 Renovations" "text" "Since 1996 our team has completed over 100 renovations in the hospitality industry. Take a look below at some of our most significant work, or browse the archive to see all our projects.") }}

  <div class="bg-white">

    <div class="mw7 center mhn2-m pv4 ph3">

      <h1 class="f2 mb3">Project List</h1>
    
      <div class="flex-m flex-row flex-wrap justify-center">
    
        {{ range .Data.Pages }}
          <div class="w-50-m ph2">
            {{ .Render "li" }}
          </div>
        {{ end }}
          
      </div>  
    </div>
  </div>

{{ end }}
