{{ define "main" }}

  {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.title "position" "bg-center") }}

  {{ partial "short-text" .Params.intro }}

  <div class="section bg-white">

    <div class="mw7 center">
    
      <h1 id="list" class="f2 mb3" data-aos="fade-in">{{ .Params.main.heading }}</h1>
      {{ if .Params.main.text }}<p class="mb4 db" data-aos="fade-in">{{ .Params.main.text }}</p>{{ end }}

      {{ .Render "list" }}
      
    </div>
  </div>

  {{ partial "form-contact" . }}

{{ end }}
