{{ define "main" }}

  {{ partial "heading-left" (dict "title" .Title "subtitle" .Params.subtitle "mw" "mw7") }}

  <div class="section bg-white">
    <div class="mw7 center pb6" data-aos="fade-in">

      {{ if .Content }}

        <h2 class="f3 lh-title mb3">Overview</h2>

        <div class="cms mb3">    
          {{ .Content }}
        </div>
        
      {{ end }}

      <h2 class="f3 lh-title mb3">Gallery</h2>
  
      {{ partial "gallery" . }}

    </div>
  </div>

  <div class="section bg-debut">
    <div class="mw7 center">

    {{ partial "page-maker" . }}

    {{ partial "page-number" . }}

    </div>
  </div>

{{ end }}
