{{ define "main" }}

  {{ partial "heading-left" (dict "title" .Title "subtitle" .Params.slug "mw" "mw7") }}

  <div class="section bg-white neg-margin-offset">
    <div class="mw7 center pt3 pb4">

      {{ if .Content }}

      <div class="flex-l flex-row">

        <div class="w-40-l">
          <h2 class="dib f3 lh-title bb mb3 pb1 b--primary bw1">Overview</h2>
        </div>
  
        <div class="w-60-l mb4 ml3-l">    
          {{ .Content }}
        </div>
      </div>

        
      {{ end }}

      <h2 class="dib f3 lh-title mb3 pb1 bb b--primary bw1">Gallery</h2>
  
      {{ partial "gallery" . }}

    </div>
  </div>

  <div class="section bg-grey-1">
    <div class="mw7 center">

    {{ partial "page-maker" . }}

    {{ partial "page-number" . }}

    </div>
  </div>

{{ end }}
