{{ define "main" }}

  {{ partial "heading-left" (dict "title" .Title "subtitle" .Params.slug "mw" "mw8") }}

  <div class="section bg-white neg-margin-offset">
    <div class="mw8 center pt3 pb4">

      {{ with .Content }}
      <div class="flex-l flex-row mb4 bg-off-white br1 pa4-ns pa3 nav-shadow">

        <div class="w-30-l mb3">
          <h2 class="f3 b">Overview</h2>
        </div>
  
        <div class="w-70-l h-100 mb4 ml3-l">    
          {{ . }}
        </div>
      </div>
      {{ end }}

      {{ with .Description }}
      <div class="flex-l flex-row mb4 bg-off-white br1 pa4-ns pa3 nav-shadow">

        <div class="w-30-l mb3">
          <h2 class="f3 b">Website</h2>
        </div>
  
        <div class="w-70-l mb4 ml3-l">
          <a class="dib link" target="_blank" href="{{ . }}">{{ . }}</a>
        </div>
      </div>
      {{ end }}

      <div class="bg-off-white br1 pa4-ns pa3 nav-shadow">
        <h2 class="f3 b mb3">Gallery</h2>
        {{ partial "gallery" . }}
      </div>

    </div>
  </div>

  <div class="section bg-grey-1">
    <div class="mw7 center">

    {{ partial "page-maker" . }}

    {{ partial "page-number" . }}

    </div>
  </div>

{{ end }}
