{{ define "main" }}

<div class="bg-off-white">
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title mb2">{{ .Title }}</h1>
    <h2 class="f4 lh-title mb3">{{ .Params.subtitle }}</h2>
  </div>
</div>

  <div class="bg-white">
    <div class="mw6 center ph3 pv4">
        
        <img src="{{ .Params.image }}" alt="{{ .Title }}, {{ .Params.subtitle }}" class="db center h5 mb3 object-cover image-shadow"/>
        
        <div class="cms">    
          {{ .Content }}
        </div>
  
  
      {{ partial "button-back" (dict "link" "/about" "text" "Return to about") }}
  
    </div>
  </div>

{{ end }}
